.btn-group {
  display: block;
  float: left;
  padding: 10px;
}

.welcome {
  font-family: 'Coustard', serif;
}

#outputArea {
  background-image: url(/img/mrRoboger.png);
  width: 100%;
  color: white;
  /* overflow: visible; */
  box-sizing: content-box;
  display: none;
  background-size:100%;
}

#outputArea p {
  text-align: center;
  width: 100%;
  font-family: 'Coustard', serif;
  font-size: 50px;
  overflow: hidden;
  animation: marquee 10s linear infinite;
  height: 750px;
}
@keyframes marquee {
  0%   { transform: translate(0, 100%); }
  100% { transform: translate(0, -100%); }
}

#number {
  width: 20%;
}



