body {
  padding: 20px;
}

.btn-group {
  display: block;
  float: left;
  padding: 10px;
}

.welcome {
  /* font-family: 'Alegreya', serif; */
  font-family: 'Coustard', serif;
  /* font-family: 'Neuton', serif; */
}

